SECRET_KEY=django-insecure-change-this-in-production-xyz123456789
DEBUG=True

# Google SMTP Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here

FRONTEND_URL=http://127.0.0.1:8000

DB_ENGINE = django.db.backends.postgresql
DB_NAME = postgres
DB_USER = 
DB_PASSWORD=
DB_HOST = 
DB_PORT = 5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=email@emai.com
EMAIL_HOST_PASSWORD=emailpassword

SSLCOMMERZ_STORE_ID=your_sandbox_store_id
SSLCOMMERZ_STORE_PASSWORD=your_sandbox_store_password
SSLCOMMERZ_IS_SANDBOX=True



CLOUDINARY_CLOUD_NAME= cloudinaryName
CLOUDINARY_API_KEY= cloudinaryKey
CLOUDINARY_API_SECRET= cloudinarySecret